#messageBox{
    background:linen;
    border-style: double;
    list-style: none;
}

.message{
    padding: 5px;
}

.user{
    font-size: small;
    padding: 1%;
}

.text{
    font-size: medium;
    background-color: white;
    display: inline;
    padding: 3px 2% 3px 2%;
    border-style: groove;
    border-radius: 10px 100px 100px;


}

.textBox{
    padding: 5px;
}